extends layout

block pagecontent
  div.container
    div.row
      div.span1
      div.span8
        div#about.well

block pagescript
  script
    $(document).ready(function() {
      $('#about').editable({ type: 'textarea', onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter note',
        display: function( val, sd ) {
            var tmpHtml = markdown.toHTML(val);
            $(this).html(tmpHtml);
        },
        url: "/rest/Note/about"
        });
      $.get("/rest/Note/about",{},function(d,tstatus,jxhr) {
        $("#about").editable('option', 'value', ((d) ? d : "about?") );
        } );
    });