extends layout

block pagecontent
  div.container
    div.row
      div.span1
      div.span8
        div#about.well

block pagescript
  script
    function isVlcbReadonly() {
        var thisRole = $.cookie('vlcbRole');
        return (thisRole != 'vlcbEditor');
    }
    $(document).ready(function() {
      var aboutURL = "/rest/Note/aboutNote/about";
      $('#about').editable({ type: 'textarea', disabled: isVlcbReadonly(), onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter note',
        display: function( val, sd ) {
            var tmpHtml = markdown.toHTML(val);
            $(this).html(tmpHtml);
        },
        url: aboutURL
        });
      $.get(aboutURL,{},function(d,tstatus,jxhr) {
        $("#about").editable('option', 'value', ((d) ? d : "about?") );
        } );
    });