extends layout

block pagecontent
  div.container
    div.span12
      div.about

block pagescript
  script
    $(document).ready(function() {
      $('.about').editable('http://vlcb.netrc.c9.io/rest/Note/about', { 
         type      : 'textarea',
         loadurl : 'http://vlcb.netrc.c9.io/rest/Note/about',
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="favicon.ico">',
         tooltip   : 'Click to edit...'
        } );
      $.get("http://vlcb.netrc.c9.io/rest/Note/about",{tFormat:'HTML'},function(d,tstatus,jxhr) {
        alert(" ab get set about html");
        $('.about').html(d);
        } );
    });