extends layout

block pagecontent
  div.row
    div.span2
      b.pageHead Brasses
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="search")
        button.btn(type="submit") Search
    div.span3
      div.btn-group(data-toggle="buttons-radio")
        button#bSortAlpha.btn.sorter(type="button") A-Z
        button#bSortShire.btn.sorter(type="button") Church
        button#bSortYear.btn.sorter(type="button") Year
    div.span4
      form.form-inline(method="post")
        input.input-small(type="text",name="bn",placeholder="Brass Name")
        button.btn(type="submit"): i.icon-plus-sign

  div.row
    div.span5
      ul#brassList.nav.nav-pills.nav-stacked
    div.span7
      div#brassShow.well.fixMe
        div#brassShowTitle ...select a brass
        div#brassShowPics
        div#brassShowChurch
        div#brassShowInfo
          <i> year: </i>
          span#brassEditYear
          <i> location: </i>
          span#brassEditLocation
        p
        div#brassEditMainNote.well

block pagescript
  script
    $(document).ready(function() {
      $.get("/rest/Brass/","",function(d,tstatus,jxhr) {
        //alert("got brasses "+d.length);
        for (var i=0;i<d.length;i++) { 
            var br = d[i];
            bButtId = "bButtId"+i;
            bButtIdRef = "#"+bButtId;
            d[i].yearUrl = "/rest/Brass/" + br.name + "/year";
            d[i].locationUrl = "/rest/Brass/" + br.name + "/location";
            d[i].mainNoteUrl = "/rest/Brass/"+br.name+"/mainNote";
            $("#brassList").append("<li> <button id=\"" + bButtId + "\"> " + br.name + " - " + br.church + "</button> </li>");
            $(bButtIdRef).on('click',(function(zb) { return function(){ brassShow( zb ); } })(d[i]) );
        }
        if (d.length>0) {
            brassShow( d[0] );
        };
      } );
      $('#brassEditLocation').editable({ type: 'text', onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter location' });
      $('#brassEditYear').editable({ type: 'text', onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter year' });
      $('#brassEditMainNote').editable({ type: 'textarea', onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter note',
        display: function( val, sd ) {
            var tmpHtml = markdown.toHTML(val);
            $(this).html(tmpHtml);
        }
        });
    });

    function brassUrl( x, s ) {
        return("/rest/Brass/" + x.name + "/" + s);
    }

    function brassShow( b ) {
        //alert("now show: " + b.name );
        $("#brassShowTitle").html("<b> " + b.name + " - " + b.church + "</b>");
        $("#brassShowPics").html( "<i> no pics yet </i>" );
        $("#brassShowChurch").html( ((b.church) ? "<a href=\"/church/"+b.church + "\">" +b.church + "</a>" : "<i> church? </i>") );
        $("#brassEditLocation").editable('option', 'value', ((b.location) ? b.location : "<i> location? </i>") );
        $("#brassEditYear").editable('option', 'value', ( (b.year) ? b.year : "<i> year? </i>") );
        $("#brassEditMainNote").editable('option', 'value', ((b.mainNote) ? b.mainNote : "note?") );

        // no db2 to get brass pics
        $.get(brassUrl(b,"Pics"),"",function(d,tstatus,jxhr) {
          //alert("bp found " + d.length + " pics for " + b.name);
          if (d.length==0) {
            return;
          };
          pStr="";
          groupName = "group" + b.name;
          groupNameClass = "." + groupName;
          for (var i=0;i<d.length;i++) { 
            p = d[i];
            pStr = pStr + "<a class=\""+groupName+"\" href=\""+p.full+"\" title=\""+b.name+"\">  <img src=\""+p.thumb+"\">  </a>";
          };
          $(brassShowPics).html( pStr );
          $(groupNameClass).colorbox( { rel:groupName, transition:"fade" } );
        });
        //alert("edit year: " + b.yearUrl);
        $('#brassEditYear').editable('option','url', b.yearUrl);
        $('#brassEditLocation').editable('option','url', b.locationUrl);
        $("#brassEditMainNote").editable('option', 'url', b.mainNoteUrl);
        //alert("place to stop");
    };
