extends layout

block pagecontent
  div.row
    div.span2
      b.pageHead Brasses
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="search")
        button.btn(type="submit") Search
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="sort")
        button.btn(type="submit") Sort
    div.span4
      form.form-inline(method="post")
        input.input-small(type="text",name="bn",placeholder="Brass Name")
        button.btn(type="submit"): i.icon-plus-sign

  div#brassAccordion.accordion

block pagescript
  script
    $(document).ready(function() {
    $.get("/rest/Brass/","",function(d,tstatus,jxhr) {
        //alert("got brasses "+d.length);
        for (var i=0;i<d.length;i++) { 
            b = d[i];
            newDiv  = "<div class=accordion-group>\n";
            newDiv += "  <div class=accordion-heading>\n";
            newDiv += "    <span class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#brassAccordion\" href=\"#collapse"+i+"\">\n";
            newDiv += "      <b> "+b.name+"</b>\n";
            newDiv += "    </span>\n";
            newDiv += "  </div>\n";
            newDiv += "  <div class=\"accordion-body collapse\" id=\"collapse"+i+"\">\n";
            newDiv += "    <div class=\"accordion-inner\">\n";
            newDiv += "        brass the intner text for this brass\n";   
            newDiv += "    </div>\n";
            newDiv += "  </div>\n";
            newDiv += "</div>\n";
            $("#brassAccordion").append(newDiv);
        }
        } );
    });