extends layout

block pagecontent
  div.row
    div.span1
    div.span2
      b.pageHead Churches
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="search")
        button.btn(type="submit") Search
    div.span3
      div.btn-group(data-toggle="buttons-radio")
        button#cSortAlpha.btn.sorter(type="button") A-Z
        button#cSortShire.btn.sorter(type="button") Shire
        button#cSortYear.btn.sorter(type="button") Year
    div#newPost.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="cn",placeholder="Church Name")
        input.input-small(type="text",name="ca",placeholder="Address")
        button.btn(type="submit"): i.icon-plus-sign

  div.row
    div.span1
    div.span5
      div.showContainer
        ul#churchList.nav.nav-pills.nav-stacked
    div.span6
      div#churchShow.well
        div#churchShowTitle
          span#churchShowName
          span#churchShowAddress
        div#churchShowPics
        div
          i.smalllabel brasses: &nbsp;
          span#churchShowBrasses
        div#churchShowInfo
          i.smalllabel year: &nbsp;
          span#churchEditYear.churchXedit
          i.smalllabel &nbsp; &nbsp; latlon: &nbsp;
          span#churchEditLatlon.churchXedit
        div#churchEditMainNote.churchXedit.well

block pagescript
  script
    $(document).ready(function() {
      hideNewPosts();
      $.get("/rest/Church/","",function(d,tstatus,jxhr) {
        //alert("c2b: got churches: "+d.length);
        var cn = {};
        cn["cn"] = 0;  // a blank church name means show the first (0th) church
        for (var i=0;i<d.length;i++) { 
            c = d[i];
            cButtId = "cButtId"+i;
            cButtIdRef = "#"+cButtId;
            cn["cn"+c.name] = i;
            newLi  = "<li> <button class=\"btn-block\" id=\""+cButtId+"\"> "+c.name+"<i> - "+c.address+"</i></button></li>\n";
            $("#churchList").append(newLi);
            d[i].yearUrl = "/rest/Church/"+c.name+"/year";
            d[i].latlonUrl = "/rest/Church/"+c.name+"/latlon";
            d[i].mainNoteUrl = "/rest/Church/"+c.name+"/mainNote";
            $(cButtIdRef).on( 'click', (function(zc) { return function(){churchShow(zc); } })(c) );
        };
        //alert("cj: cn: "+ "#{cname}" );
        if (d.length>0) {
            churchShow( d[ cn["cn"+"#{cname}"] ] );
        };
      } );
      $('#churchEditYear').editable({ type: 'text', disabled: isVlcbReadonly(), onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter date' });
      $('#churchEditLatlon').editable({ type: 'text', disabled: isVlcbReadonly(), onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter date' });
      $('#churchEditMainNote').editable({ type: 'textarea', disabled: isVlcbReadonly(), onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter note',
        display: function( val, sd ) {
            var tmpHtml = markdown.toHTML(val);
            $(this).html(tmpHtml);
        }
        });
    });

    var churchUrl = function ( c, s ) {
        return("/rest/Church/" + c.name + "/" + s);
    }
    var churchShow = function ( c ) {
        //alert("new cshow: "+c.name);

        //$("#churchShowTitle").html("<b>" + c.name + "</b> <i> - " + c.address + "</i>");
        $("#churchShowName").html("<b>" + c.name + "</b>");
        $("#churchShowAddress").html("<i> - " + c.address + "</i>");
        $("#churchShowPics").html("<i> no pics yet </i> <p>");
        $("#churchShowBrasses").html("<i> no brasses found </i> <p>");
        $("#churchEditYear").editable('option', 'value', (c.year) ? c.year : "year..." );
        $("#churchEditLatlon").editable('option', 'value', (c.latlon) ? c.latlon : "latlon...");
        $("#churchEditMainNote").editable('option', 'value', (c.mainNote) ? c.mainNote : "note..." );

        $.get(churchUrl(c,"Pics"),"",function(d,tstatus,jxhr) {
            if (d.length==0) {
                return;
            };
            pStr = "";
            for (var i=0;i<d.length;i++) { 
                p = d[i];
                pStr = pStr + "<img src=\"" + p.thumb + "\"> <p>";
            };
            $("#churchShowPics").html( pStr  );
        } );
        $.get(churchUrl(c,"Brass"),"",function(d,tstatus,jxhr) {
            //alert("cbr length: " + d.length);
            if (d.length==0) {
                return;
            };
            bStr = "";
            for (var i=0;i<d.length;i++) { 
                b = d[i];
                bStr = bStr + " <a href=\"//brass/\">" + b.name + "</a>" + (((i+1)<d.length) ? ", " : "");
            };
            $("#churchShowBrasses").html( bStr );
        } );

        $("#churchEditLatlon").editable('option', 'url', c.latlonUrl );
        $("#churchEditYear").editable('option', 'url', c.yearUrl );
        $("#churchEditMainNote").editable('option', 'url', c.mainNoteUrl);
    }