extends layout

block pagecontent
  div.row
    div.span2
      b.pageHead Churches
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="search")
        button.btn(type="submit") Search
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="sort")
        button.btn(type="submit") Sort
    div.span4
      form.form-inline(method="post")
        input.input-small(type="text",name="cn",placeholder="Church Name")
        input.input-small(type="text",name="ca",placeholder="Address")
        button.btn(type="submit"): i.icon-plus-sign

  div#churchAccordion.accordion           

  div#editChurchModal.modal.fade
    div.modal-header
      a.close(data-dismiss="modal") &times;
      h3 Edit church...
    div.modal-body
      p address
      p latlon
      p year
      p brief note...??
      p pic thumbnail
      p list of brasses

block pagescript
  script
    $(document).ready(function() {
    $.get("http://vlcb.netrc.c9.io/rest/Church/","",function(d,tstatus,jxhr) {
        //alert("got churches"+d.length);
        for (var i=0;i<d.length;i++) { 
            c = d[i];
            cShowId = "cShowId"+i;
            cShowIdRef = "#"+cShowId;
            cShowInnerId = "cShowInnerId"+i;
            cShowInnerIdRef = "#"+cShowInnerId;
            newDiv  = "<div class=accordion-group>\n";
            newDiv += "  <div class=accordion-heading>\n";
            newDiv += "    <span class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#churchAccordion\" href=\""+cShowIdRef+"\">\n";
            newDiv += "      <b> "+c.name+" - "+c.address+"</b> <a href=\"/church/" + c.name + "\" target=\"_blank\"><i class=\"icon-share-alt\"></i></a>\n";
            newDiv += "    </span>\n";
            newDiv += "  </div>\n";
            newDiv += "  <div class=\"accordion-body collapse\" id=\""+cShowId+"\">\n";
            newDiv += "    <div class=\"accordion-inner\" id=\""+cShowInnerId+"\">\n";
            newDiv += "        ...getting inner data\n";   
            newDiv += "    </div>\n";
            newDiv += "  </div>\n";
            newDiv += "</div>\n";
            $("#churchAccordion").append(newDiv);
            $(cShowIdRef).on("show",(function(zc,zi) { return function(){churchAccordionShow( zc, zi ); } })(c,cShowInnerIdRef) );
        };
        } );
    var churchAccordionShow = function ( c, id ) {
        alert("now show: "+c.name + " id: "  +id);
        newHTML = "year: " + c.year + " latlon: " + c.latlon +"<p>";
        $(id).html(newHTML);
        };
    });