extends layout

block pagecontent
  div.row
    div.span2
      b.pageHead Churches
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="search")
        button.btn(type="submit") Search
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="sort")
        button.btn(type="submit") Sort
    div.span4
      form.form-inline(method="post")
        input.input-small(type="text",name="cn",placeholder="Church Name")
        input.input-small(type="text",name="ca",placeholder="Address")
        button.btn(type="submit"): i.icon-plus-sign

  div.row
    div.span5
      ul#churchList.nav.nav-pills.nav-stacked
    div.span7
      div#churchShow.well
        i select a church...

block pagescript
  script
    $(document).ready(function() {
      $.get("http://vlcb.netrc.c9.io/rest/Church/","",function(d,tstatus,jxhr) {
        //alert("c2b: got churches: "+d.length);
        for (var i=0;i<d.length;i++) { 
            c = d[i];
            cButtId = "cButtId"+i;
            cButtIdRef = "#"+cButtId;
            cShowInnerId = "cShowInnerId"+i;
            cShowInnerIdRef = "#"+cShowInnerId;
            newLi  = "<li> <button id=\""+cButtId+"\"> "+c.name+"<i> - "+c.address+"</i></button></li>\n";
            $("#churchList").append(newLi);
            $(cButtIdRef).on( 'click', (function(zc) { return function(){churchShow(zc); } })(c) );
        };
      } );
    });
    var churchShow = function ( c ) {
        //alert("now new cshow: "+c.name);

        $.get("http://vlcb.netrc.c9.io/rest/Church/"+c.name+"/Pic","",function(d,tstatus,jxhr) {
            var newHTML = "year: " + c.year + " latlon: " + c.latlon +"<p>";
            var bStr = "<i> no brasses found </i>";
            var pStr = "<i> no pics yet </i><p>";

            if (d.length>0) {
                pStr="";
            };
            for (var i=0;i<d.length;i++) { 
                p = d[i];
                pStr = pStr + "<img src=\"" + p.thumb + "\"> <p>";
            };

            $.get("/rest/Church/"+c.name+"/Brass","",function(d,tstatus,jxhr) {
                if (d.length>0) {
                    bStr="";
                };
                for (var i=0;i<d.length;i++) { 
                    var b = d[i];
                    bStr = bStr + " <a href=\"//brass/\">" + b.name + "</a>" + ((i+1)<d.length) ? ", " : "";
                };
            });

            $("#churchShow").html( pStr + newHTML + bStr );
        } );


    }