extends layout

block pagecontent
  div#myCarousel(class='carousel slide')
    div.carousel-inner
      div.item.active
        img(src="https://lh6.googleusercontent.com/-CKzeWqxY1ck/UEJ_TMI3bSI/AAAAAAAAMaE/YSqpBTg3C9U/s800/VLC-55-b.jpg")
        div.container
          div.carousel-caption
            h1 Virginia Lee Campbell's Brass Rubbings
            p.lead A collection of rubbings of English monumental brasses
      div.item
        img(src="https://lh4.googleusercontent.com/-yjQNAH4u9xk/UFUKeHxq8lI/AAAAAAAAMmg/5LLL14XEK8M/s800/VLC-%252061-b.JPG")
      div.item
        img(src="https://lh6.googleusercontent.com/-1OrXGU5bFPw/UFZzVXr2FEI/AAAAAAAAMwk/GtwnRnUrwvg/s800/VLC-66-b.JPG")
  a.left.carousel-control(href="#myCarousel",data-slide="prev") &lsaquo;
  a.right.carousel-control(href="#myCarousel",data-slide="next") &rsaquo;

block pagescript
  script
    !function ($) { $(function(){ $('#myCarousel').carousel() }) }(window.jQuery)