doctype 5
html
  head
    title VLCB#{title}
    meta(name="google-site-verification" content="TW-sW3lVdD8vhX5tsKlClvznCpgTs-pDgWRsYSgIaP4")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='canonical', href='http://vlcb.netrc.com#{title}')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise', type='text/css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/colorbox.css', type='text/css')
    link(rel='stylesheet', href='/vstyle.css', type='text/css')
    link(rel='stylesheet', href="/bootstrap-editable.css", type='text/css')
    block pageheadextras


  body
    div.container.navbar-wrapper
      div.navbar
        div.navbar-inner
          a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') VLC
          div.nav-collapse.collapse
            ul.nav
              li
                a(href='/rubbing') Rubbings
              li
                a(href='/brass') Brasses
              li
                a(href='/church') Churches
              li
                a(href='/map') Map
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") Info
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/note/about") About VLC
                  li
                    a(href="/note/diary") VLC Diary
                  li
                    a(href="/note/bibliography") Bibliography
                  li
                    a(href="/blog") Blog
                  li
                    a(href="/note/book") Purchase Book...
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") About
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/software") Software
                  li
                    a(href="/pic") Pictures
                  li
                    a(href="/log") Change log
                  li
                    a#loginState(href="/auth/google") Login via Google


    block pagecontent

    footer
      br
      br
      g:plusone(size="medium")
      br
      div.span12
        a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", title="'Virginia Lee Campbell's Brass Rubbings' by Richard Campbell is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License")
          img(alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png")
          span by Richard Campbell, 2013

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")
    //script(src="//cachedcommons.org/cache/jquery-jeditable/1.4.2/javascripts/jquery-jeditable-min.js")
    script(src="//cachedcommons.org/cache/jquery-cookie/0.0.0/javascripts/jquery-cookie-min.js")
    script(src="/bootstrap-editable-inline.min.js")
    script(src="/jquery.colorbox.js")
    script(src="//apis.google.com/js/plusone.js")
    script(src="/markdown.js")

    script
      function isVlcbReadonly() {
          var thisRole = $.cookie('vlcbRole');
          return (thisRole != 'vlcbEditor');
      };
      var VLCB = {};
      VLCB.hideNewPosts = function() {
        if (isVlcbReadonly()) {
          $("#newPost").css('display', 'none');
        }
      };
      VLCB.ulButtonAppend = function( ulRef, buttonId, buttonText ) {
        $( ulRef ).append('<li> <button class="btn-block" id="' + buttonId + '"> ' + buttonText +  ' </button> </li>');
      };
      VLCB.enclosure = function( fname, v ) {
        return function(){ fname.call(this,v); }
      };
      // every page gets this check....
      $(document).ready(function() {
        if (isVlcbReadonly()) {
          $("#loginState").html('<a href="/auth/google"> Login via Google </a>');
        } else {
          $("#loginState").html('<a href="/auth/logout"> Logout </a>');
        }
      });
      // should simplify this a bit
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37379535-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

    block pagescript





