doctype 5
html
  head
    title VLC
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise', type='text/css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='colorbox.css', type='text/css')
    link(rel='stylesheet', href='vstyle.css', type='text/css')
    link(rel='stylesheet', href="bootstrap-editable.css", type='text/css')

  body
    div.container.navbar-wrapper
      div.navbar
        div.navbar-inner
          a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') VLC
          div.nav-collapse.collapse
            ul.nav
              li
                a(href='/rubbing') Rubbings
              li
                a(href='/brass') Brasses
              li
                a(href='/church') Churches
              li
                a(href='/map') Map
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") About
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/about") About VLC
                  li
                    a(href="/diary") VLC Diary
                  li
                    a(href="/updates") Updates
                  li
                    a(href="/book") Purchase Book...
                  li.divider
                  li
                    a(href="/software") Software
                  li
                    a(href="/pic") Pictures
                  li
                    a(href="/notes") Notes
                  li
                    a(href="/auth/google") Login via Google


    block pagecontent

    footer
      p
        &copy; 2012 Richard Campbell
      div.pull-right
        a(href='/') VLC

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")
    //script(src="//cachedcommons.org/cache/jquery-jeditable/1.4.2/javascripts/jquery-jeditable-min.js")
    script(src="http://cachedcommons.org/cache/jquery-cookie/0.0.0/javascripts/jquery-cookie-min.js")
    script(src="bootstrap-editable-inline.min.js")
    script(src="jquery.colorbox.js")
    script(src="markdown.js")
    block pagescript
