extends layout

block pagecontent
  div.row
    div.span1
    div.span2
      b.pageHead Rubbings
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="search")
        button.btn(type="submit") Search
    div.span3
      div.btn-group(data-toggle="buttons-radio")
        button#rSortVLCN.btn.sorter(type="button") VLCN
        button#rSortAlpha.btn.sorter(type="button") A-Z
        button#rSortDate.btn.sorter(type="button") Date
    div#newPost.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="vn",placeholder="VLC#")
        input.input-large(type="text",name="rn",placeholder="Rubbing Name")
        button.btn(type="submit"): i.icon-plus-sign

  div.row
    div.span1
    div.span4
      div.showContainer(dir="rtl")
        ul#rubbingList.nav.nav-pills.nav-stacked
    div.span7
      div#rubbingShow.well
        div#rubbingShowTitle ...select a rubbing
        div#rubbingShowPics
        div
          i.smalllabel brass: &nbsp;
          span#rubbingEditBrass.rubbingXedit
        div
          i.smalllabel description: &nbsp;
          span#rubbingEditDesc
        div#rubbingShowInfo
          i.smalllabel date: &nbsp;
          span#rubbingEditDate.rubbingXedit
          i.smalllabel &nbsp; &nbsp; location: &nbsp;
          span#rubbingShowLocation
        div#rubbingEditMainNote.rubbingXedit.well


block pagescript
  script
    $(document).ready(function() {
      hideNewPosts();
      $.get("/rest/Rubbing/","",function(d,tstatus,jxhr) {
        //alert("got rubbing "+d.length);
        for (var i=0;i<d.length;i++) { 
            r = d[i];
            rButtId = "rButtId"+i;
            rButtIdRef = "#"+rButtId;
            d[i].brassUrl = "/rest/Rubbing/"+r.vlcn+"/brass";
            d[i].descUrl = "/rest/Rubbing/"+r.vlcn+"/desc";
            d[i].dateUrl = "/rest/Rubbing/"+r.vlcn+"/date";
            d[i].mainNoteUrl = "/rest/Rubbing/"+r.vlcn+"/mainNote";
            $("#rubbingList").append("<li> <button class=\"btn-block\" id=\"" + rButtId + "\"> " + r.vlcn + " - " + r.name + "</button> </li>");
            $(rButtIdRef).on('click',(function(zr) { return function(){rubbingShow( zr ); } })(d[i]) );
        };
        if (d.length>0) {
            rubbingShow( d[0] );
        };
      } );
      $('#rubbingEditBrass').editable({ type: 'select', disabled: isVlcbReadonly(), onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter brass',
        source:"/rest/xeditSelect/Brass", display: function( val, sd ) {
            var tmpHtml = isVlcbReadonly() ? '<a href="/brass/'+val+'"> '+val+'</a>' : val;
            $(this).html(tmpHtml);
        } });
      $('#rubbingEditDesc').editable({ type: 'text', disabled: isVlcbReadonly(), onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter desc' });
      $('#rubbingEditDate').editable({ type: 'text', disabled: isVlcbReadonly(), onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter date' });
      $('#rubbingEditMainNote').editable({ type: 'textarea', disabled: isVlcbReadonly(), onblur: 'ignore', send: 'always', toggle: 'dblclick', title: 'Enter note',
        display: function( val, sd ) {
            var tmpHtml = markdown.toHTML(val);
            $(this).html(tmpHtml);
        }
        });
    });

    var rubbingShow = function ( r ) {
        //alert("now show: "+r.vlcn + " name: "  + r.name);
        $("#rubbingShowTitle").html("<b> " + r.vlcn + " - " + r.name + "</b>");
        $("#rubbingShowPics").html( "<i> no pics yet </i>" );
        //$("#rubbingEditBrass").html( ((r.brass) ? "<a href=\"/brass/" + r.brass + "\">" + r.brass + "</a>" : "<i> unknown </i>") );
        $("#rubbingEditBrass").editable( 'option', 'value', ((r.brass) ?  r.brass : "unknown") );
        $("#rubbingEditDesc").editable( 'option', 'value', ((r.desc) ? r.desc : "no description...") );
        $("#rubbingEditDate").html( ((r.date) ? r.date : "no date...") );
        $("#rubbingShowLocation").html( ((r.location) ? r.location : "no location...") );
        $("#rubbingEditMainNote").editable('option', 'value', ((r.mainNote) ? r.mainNote : "note?") );


        $.get("/rest/Rubbing/"+r.vlcn+"/Pics","",function(d,tstatus,jxhr) {
          //alert("found " + d.length + "pics for " + r.vlcn);
          if (d.length==0) {
            return;
          };
          pStr="";
          groupName = "group" + r.vlcn;
          groupNameClass = "." + groupName;
          for (var i=0;i<d.length;i++) { 
            p = d[i];
            pStr = pStr + "<a class=\""+groupName+"\" href=\""+p.full+"\" title=\""+r.name+"\">  <img src=\""+p.thumb+"\">  </a>";
          };
          $("#rubbingShowPics").html( pStr );
          $(groupNameClass).colorbox( { rel:groupName, transition:"fade" } );
        });
        //alert("resetting data-url to: " + r.dataUrl);
        $('#rubbingEditBrass').editable('option','url', r.brassUrl);
        $('#rubbingEditDesc').editable('option','url', r.descUrl);
        $('#rubbingEditDate').editable('option','url', r.dateUrl);
        $("#rubbingEditMainNote").editable('option', 'url', r.mainNoteUrl);
    };
