extends layout

block pagecontent
  div.row
    div.span2
      b.pageHead Rubbings
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="search")
        button.btn(type="submit") Search
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="sort")
        button.btn(type="submit") Sort
    div.span4
      form.form-inline(method="post")
        input.input-small(type="text",name="vn",placeholder="VLC#")
        input.input-large(type="text",name="rn",placeholder="Rubbing Name")
        button.btn(type="submit"): i.icon-plus-sign

  div#rubbingAccordion.accordion

block pagescript
  script
    $(document).ready(function() {
    $.get("http://vlcb.netrc.c9.io/rest/Rubbing/","",function(d,tstatus,jxhr) {
        //alert("got rubbing "+d.length);
        for (var i=0;i<d.length;i++) { 
            r = d[i];
            rShowId = "rShowId"+i;
            rShowIdRef = "#"+rShowId;
            rShowPicId = "rShowPicId"+i;
            rShowPicIdRef = "#"+rShowPicId;
            newDiv  = "<div class=accordion-group>\n";
            newDiv += "  <div class=accordion-heading>\n";
            newDiv += "    <span class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#rubbingAccordion\" href=\""+rShowIdRef+"\">\n";
            newDiv += "      <b> "+r.vlcn + " - " + r.name+"</b>\n";
            newDiv += "    </span>\n";
            newDiv += "  </div>\n";
            newDiv += "  <div class=\"accordion-body collapse\" id=\""+rShowId+"\">\n";
            newDiv += "      <div class=\"accordion-inner\" >\n";
            newDiv += "        <div id=\""+rShowPicId+"\"> ...getting pics... </div>\n";
            newDiv += "        " + r.desc + "\n";
            newDiv += "        <p> Location: " + r.location + "</p>\n";
            newDiv += "        <p> Status: " + r.status + "</p>\n";
            newDiv += "      </div>\n";
            newDiv += "  </div>\n";
            newDiv += "</div>\n";
            $("#rubbingAccordion").append(newDiv);
            $(rShowIdRef).on("show",(function(zc,zi) { return function(){rubAccordionShow( zc, zi ); } })(r,rShowPicIdRef) );
        };
        } );
    });
    var rubAccordionShow = function ( r, rid ) {
        //alert("now show: "+r.vlcn + " cid: "  +rid);
        if ( window.hasOwnProperty("R"+r.name) ) {
            return; // already shown
        }
        $.get("/rest/Rubbing/"+r.vlcn+"/Pics","",function(d,tstatus,jxhr) {
          var bstr="";
          //alert("found " + d.length + "pics for " + r.vlcn);
          if (d.length==0) {
            bstr = "<i> no pics found </i>";
          };
          for (var i=0;i<d.length;i++) { 
            var b = d[i];
            bstr = bstr + " <img src=\""+b.thumb+"\">";
          };
          $(rid).html( bstr );
          window["R"+r.name] = 1;
        });
    };
