extends layout

block pagecontent
  div.row
    div.span2
      b.pageHead Rubbings
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="search")
        button.btn(type="submit") Search
    div.span3
      form.form-inline(method="post")
        input.input-small(type="text",name="rn",placeholder="sort")
        button.btn(type="submit") Sort
    div.span4
      form.form-inline(method="post")
        input.input-small(type="text",name="vn",placeholder="VLC#")
        input.input-large(type="text",name="rn",placeholder="Rubbing Name")
        button.btn(type="submit"): i.icon-plus-sign

  div.row
    div.span5(overflow-y="scroll")
      ul#rubbingList.nav.nav-pills.nav-stacked
    div.span7
      div#rubbingShow.well.fixMe
        div#rubbingShowTitle ...select a rubbing
        div#rubbingShowPics
        div#rubbingShowDesc
        div#rubbingShowLocation
        div#rubbingShowStatus
        div#rubbingShowLinks

block pagescript
  script
    $(document).ready(function() {
      $.get("/rest/Rubbing/","",function(d,tstatus,jxhr) {
        //alert("got rubbing "+d.length);
        for (var i=0;i<d.length;i++) { 
            r = d[i];
            rButtId = "rButtId"+i;
            rButtIdRef = "#"+rButtId;
            $("#rubbingList").append("<li> <button id=\"" + rButtId + "\"> " + r.vlcn + " - " + r.name + "</button> </li>");
            $(rButtIdRef).on('click',(function(zr) { return function(){rubbingShow( zr ); } })(r) );
        };
        if (d.length>0) {
            rubbingShow( d[0] );
        };
      } );
    });
    var rubbingShow = function ( r ) {
        //alert("now show: "+r.vlcn + " name: "  + r.name);
        $("#rubbingShowTitle").html("<b> " + r.vlcn + " - " + r.name + "</b>");
        $("#rubbingShowPics").html( "<i> no pics yet </i>" );
        $("#rubbingShowDesc").html( r.desc );
        $("#rubbingShowLocation").html( r.location );
        $("#rubbingShowStatus").html( r.status  );

        $.get("/rest/Rubbing/"+r.vlcn+"/Pics","",function(d,tstatus,jxhr) {
          //alert("found " + d.length + "pics for " + r.vlcn);
          if (d.length==0) {
            return;
          };
          pStr="";
          groupName = "group" + r.vlcn;
          groupNameClass = "." + groupName;
          for (var i=0;i<d.length;i++) { 
            p = d[i];
            pStr = pStr + "<a class=\""+groupName+"\" href=\""+p.full+"\" title=\""+r.name+"\">  <img src=\""+p.thumb+"\">  </a>";
          };
          $(rubbingShowPics).html( pStr );
          $(groupNameClass).colorbox( { rel:groupName, transition:"fade" } );
        });
    };
