extends layout

block pagecontent
  h2 Powered by...
  table.cd
    tr
      td.cd
        a(href="//heroku.com")
          img(src="http://logos.heroku.com/images/heroku-logo-light-88x31.png")
      td.cd
        a(href="//c9.io") Cloud9 IDE
      td.cd
        a(href="//nodejs.org")
          img(src="http://upload.wikimedia.org/wikipedia/en/thumb/a/a7/Nodejs_logo_light.png/150px-Nodejs_logo_light.png")
      td.cd
        a(href="//expressjs.com") Express
    tr
      td.cd
        a(href="//twitter.github.com/bootstrap/") Bootstrap
      td.cd
        a(href="//github.com/marcello3d/node-mongolian") Mongolian
      td.cd
        a(href="//www.mongodb.org/") MongoDB
      td.cd
        a(href="//github.com/netrc") github
          //img(src="https://raw.github.com/github/media/master/logos/github_logo_social_coding_outlined.png")
    tr
      td.cd
        a(href="//jsfiddle.net")
         img(src="//jsfiddle.net/img/logo.png")
      td.cd
        a(href="//www.jslint.com/") jslint
      td.cd
        a(href="//myhosting.com/virtual-private-server/") myhosting VPS
      td.cd
        a(href="http://vim.org") vim
    tr
      td.cd
        a(href="http://passportjs.org/") PassportJS
      td.cd
        a(href="https://github.com/jaredhanson/passport-google") passport-google
      td.cd
        a(href="http://trello.com/") Trello
      td.cd
        a(href="http://mapicons.nicolasmollet.com/about/about-project/") Map icons
  hr
  h3 Data Check
  div.row
    div.span2
    div.span2  Known Rubbings...
    div#krtext.span1 ...calculating...
    div.span4
      div.progress.progress-info.progress-striped.active
        div#krpct.bar(style="width: 45.666666%;")
  div.row
    div.span2
    div.span1 Unknowns...
    div#rnotok.span10

  hr
  form(method="get", action="/rest/dumpData")
    input(type="submit", value="Dump data...")
  hr
  form(method="get", action="/dobatch")
    input(type="submit", value="Do Batch")

block pagescript
    script
      $(document).ready(function() {
        $.get("/rest/qa/rubbingOK","",function(d,tstatus,jxhr) {
            var k = d[0];
            var l = d[1];
            $("#krpct").css("width",(k/l*100)+"%");
            $("#krtext").html("("+k + "/" + l+")");
            var s = "";
            d[2].forEach( function(r) {
                s = s + '<a href="/church/' + r[0] + '"> ' + r[1] + '</a> &nbsp; ';
            });
            $("#rnotok").html(s);
        });
      });
